* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
.mobile-menu {
  display: none;
}
.header-top {
  width: 100%;
  border-bottom: .0625rem solid #ECF3FF;
  margin-bottom: 1.875rem;
  
}
.container {
  width: 69.375rem;
  margin: auto;
}
.container-wrapper {
  width: 86.25rem;
  margin: auto;
  position: relative;
}
.header-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: .6875rem;
  padding-bottom: .6875rem;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-item-link {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  color: #5D6C7B;
  text-decoration: none;

}
.header-top-icons {
  display: flex;
  align-items: center;
  gap: .5313rem;
  margin-left: 1.875rem;
  margin-right: auto;

}
.icons-link {
  text-decoration: none;
  height: .75rem;
  
}
.header-phone-link {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.0837rem;
  color: #282739;
  text-decoration: none;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-button {
  display: flex;
  align-items: center;
  background-color: #6F73EE;
  border: none;
  border-radius: .3125rem;
  padding: .5rem 1.0625rem;
  cursor: pointer;  
}
.button-text {
  font-family: Jost;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.445rem;
  color: #FFFFFF;
}
.button-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .25rem;
  margin-right: .8125rem;
}
.line-1,
.line-2 {
  width: .8125rem;
  border-top: .0625rem solid #FFFFFF;
  border-radius: .0813rem;
}
.line-3 {
  width: .4375rem;
  border-top: .0625rem solid #FFFFFF;
  border-radius: .0813rem;

}
.input-group {
  width: 37.5rem;
  height: 2.5rem;
  overflow: hidden;
  border: .0938rem solid #6F73EE;
  border-radius: .3125rem;
  position: relative;
  padding-left: 1.25rem;

}
.input-search {
  width: 90%;
  height: 100%;
  border: none;
}
.input-search:focus {
  outline: none;
}
.search-button {
  background-color: #6F73EE;
  border: .0625rem solid #6F73EE;
  height: 100%;
  width: 7%;
  padding: 0;
  border-radius: 0 .3125rem .3125rem 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  
}
.block-header-input {
  display: flex;
  gap: 2.1875rem;
}
.icons-group {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
}
.header-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-icon-link-3 {
  display: flex;
  align-items: center;
  gap: .625rem;
}
.icon-link-text {
  font-family: Jost;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.2644rem;
  color: #282739;
}

/* Main section */
.main {
  color: #FFFFFF;
  margin-top: 2.5rem;
  margin-bottom: 4.375rem;

}
.main-wrapper {
  padding-top: 3.5rem;
}
.no-webp .main-image {
  background-image: url(/img/bg.png);
}
.main-image {
  background-image: url(/img/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  min-height: 27.8125rem;
}
.location {
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-bottom: 1.25rem;
}
.location-link {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  text-decoration: none;
  color: #FFFFFF;
}
.location-info {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
}
.main-title {
  font-family: Jost;
  text-transform: uppercase;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1612rem;
  width: 39.5rem;
  margin: 0;
  margin-bottom: .4375rem;
 
}
.main-subtitle {
  font-family: Jost;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8062rem;
  margin: 0;
  margin-bottom: 1.75rem;
}
.main-info-image {
  
  
  fill: #FFFFFF;
}
.image-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border: .0625rem solid #FFFFFF;
  border-radius: .3125rem;
  background-color: RGBA(255, 255, 255, 0.2);
  padding: .75rem;
  position: relative;
  z-index: 0;
}
.main-info {
  display: flex;
  gap: 2.1875rem;
  margin-bottom: 2.375rem;
}
.main-info-item {
  display: flex;
  align-items: center;
  gap: .9375rem;
  max-width: 12.75rem;
}
.main-button {
  background-color: #fff;
  padding: .8125rem 2.5313rem;
  border: .0625rem solid #FFFFFF;
  border-radius: .3125rem;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.445rem;
  color: #6F73EE;
  cursor: pointer;
}
.main-button:focus {
  outline: none;
}

/* scooter-top */
.scooter-top {
  position: relative;
  margin-bottom: 8.4375rem;
  
}
.scooter-top-info {
  max-width: 41.4375rem;
  padding-top: 1.75rem;
}
.scooter-photo {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 12.5rem;
}
.scooter-top-title {
  font-family: Jost;
  text-transform: uppercase;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1612rem;
  color: #282739;
  margin-top: 0;
  margin-bottom: 2.0625rem;
  
}
.test-drive-subtitle {
  font-family: Jost;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4875rem;
  color: #282739;
}
.test-drive-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  max-width: 30.625rem;
  margin-top: 1.0625rem;
}
.test-drive-item {
  display: flex;
  align-items: center;
}
.icon-check {
  margin-right: .625rem;
}
.test-drive-text {
  font-family: Jost;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6256rem;
  color: #282739;
}

/* scooter-bot */
.scooter-bot {
  position: relative;
  margin-bottom: 7.9375rem;
}
.photo-scooter-bot {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 12.5rem;
  
}
.scooter-bot-wrapper {
  display: flex;
  justify-content: flex-end;
}
.scooter-bot-info {
  padding-top: 1.8125rem;
  padding-left: 1.5625rem;
  width: 41.25rem;
}
.training-list {
  width: 37.5rem;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: .625rem;
}
/* product */
.product {
  margin-bottom: 6.3125rem;
}
.top-image {
  position: relative;
  display: block;
}
.product-image {
  width: 100%;
}
.product-title {
  font-family: Jost;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 2.9375rem;
  color: #282739;
  width: 45rem;
  margin: auto;
  text-align: center;
  margin-bottom: 3.125rem;
  text-transform: uppercase;
}
.product-content {
  display: flex;
  justify-content: space-between;
}
.product-card {
  width: 15.9375rem;
}
.sale {
  padding: .25rem .5625rem;
  border: .0625rem solid #EE685F;
  border-radius: .3125rem;
  background-color: #EE685F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Jost;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.0837rem;
  position: absolute;
  top: .6875rem;
  left: .5625rem;
}
.product-card {
  text-decoration: none;
  border: .0938rem solid #EAEBED;
  border-radius: .3125rem;
}

.new {
  padding: .25rem .4375rem;
  border: .0625rem solid #75D14A;
  border-radius: .3125rem;
  background-color: #75D14A;
  color: #FFFFFF;
  font-family: Jost;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.0837rem;
  position: absolute;
  top: .75rem;
  left: .5rem;

}

.item-name {
  font-family: Jost;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6256rem;
  color: #282739;
}
.product-list {
  list-style: none;
  display: flex;
  /* flex-direction: column;
  columns: 2 auto; */
  padding-left: 0;
  margin-top: 1.5rem;
  gap: 1.625rem;
  margin-bottom: .625rem;
}
.product-bot {
  padding-left: 1.5625rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
}
.product-item {
  display: flex;
  align-items: center;
  gap: .6875rem;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.0256rem;
  color: #5D6C7B;
  margin-bottom: .9375rem;
}
.product-price {
  /* padding-left: 1.5625rem; */
  display: flex;
  align-items: center;
  margin-bottom: .875rem;
}
.old-price {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.0837rem;
  color: #5D6C7B;
  text-decoration: line-through;
}
.new-price {
  font-family: Jost;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.8062rem;
  color: #282739;
  word-spacing: .1875rem;
}
.price-block {
  display: flex;
  flex-direction: column;
  margin-right: 1.625rem;
}
.icon-cart {
  border: .0625rem solid #EAEBED;
  padding: .625rem;
  border-radius: 50%;
  margin-right: .25rem;
}
.icon-hert {
  border: .0625rem solid #EAEBED;
  padding: .625rem;
  border-radius: 50%;

}
.product-button {
  border: .0625rem solid #6F73EE;
  border-radius: .3125rem;
  background-color: #6F73EE;
  padding: .625rem 2.125rem;
  width: 12.875rem;
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* connection */
.connection {
  min-height: 27.8125rem;
}
.bg-grey {
  background-color: #F4F7FB;
  padding-top: 5.5rem;
  position: relative;
  padding-bottom: 4.875rem;
}
.client-photo {
  position: absolute;
  bottom: 0;
  right: 23.75rem;
  width: 23%;
}
.wrapper {
  display: flex;
}
.connection-title {
  font-family: Jost;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1612rem;
  color: #282739;
  margin: 0;
  margin-bottom: 2.0625rem;
  max-width: 39.5rem;
  text-transform: uppercase;
  word-spacing: -0.125rem;
}
.connection-subtitle {
  font-family: Jost;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.445rem;
  color: #282739;
  margin: 0;
  margin-bottom: 1.25rem;
}
.input-form {
  position: relative;
  display: flex;
  /* flex-grow: 1;
  flex-basis: 50%; */
  width: 17.75rem;
}
.input {
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  padding-left: 1.5625rem;
  border: .0625rem solid #EAEBED;
  border-radius: .3125rem;
  width: 16.4375rem;
  position: absolute;
}
.input:focus {
  outline: none;
}
.input-label {
  position: absolute;
  top: .9375rem;
  left: 1.5625rem;
  cursor: text;
}
.connection-button {
  display: flex;
  align-items: center;
  border: .0625rem solid #6F73EE;
  border-radius: .3125rem;
  background-color: #6F73EE;
  padding: .9375rem 1.5625rem;
  color: #FFFFFF;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.445rem;
  cursor: pointer;
}
.input-area {
  display: flex;
  height: 3.125rem;
  width: 37.5rem;
  /* gap: 1.25rem; */
}

.politics {
  display: flex;
  gap: 1rem;
  width: 24rem;
  margin-top: 1.4375rem;
}
.connection-text {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: .875rem;
  color: #282739;
}
.politics-link {
  color: #282739;
}

/* subscribe */
.subscribe {
  /* width: 90rem; */
  margin: auto;
}
.bg-blue {
  background-color: #6F73EE;
  margin-top: 6.0625rem;
  padding-top: .4375rem;
  padding-bottom: .0625rem;
}
.subscribe-wripper {
  display: flex;
  align-items: center;
}
.subscribe-title {
  width: 32.375rem;
  font-family: Jost;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6256rem;
  margin-right: 1.4375rem;
  color: #FFFFFF;
  text-transform: uppercase;
}
.subscribe-input-block {
  display: flex;
  gap: 1.25rem;
}
.input-email {
  background-color: RGBA(255, 255, 255, 0.2);
  border: none;
  border-radius: .3125rem;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  padding-left: 1.5625rem;
  width: 25.625rem;
  color: #FFFFFF;
  margin-right: .875rem;
}
.input-email:focus {
  outline: none;
}
.input-email::placeholder {
  color: #FFFFFF;
}
.button-subscribe {
  padding: .9375rem 1.5625rem;
  background-color: #fff;
  border: none;
  border-radius: .3125rem;
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.445rem;
  text-align: center;
  color: #6F73EE;
  cursor: pointer;
}


/* footer */
.footer {
  padding-top: 2.8125rem;
  background-color: #F4F7FB;
}
.footer-top {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: .0625rem solid rgb(93, 108, 123, 0.15);
  padding-bottom: 4.6875rem;
}
.footer-title {
  font-family: Jost;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6256rem;
  color: #282739;
  margin: 0;
  margin-bottom: 1.0625rem;
}
.footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer-list-1 {
  margin-right: 8rem;
}
.footer-list-2 {
  columns: 2 auto;
  margin-right: 6rem;
  gap: 2.75rem;
  width: 16.875rem;
}
.footer-list-3 {
  columns: 2 auto;
  margin-right: 3.75rem;
  gap: 1.4375rem;
  width: 21.25rem;
}
.item-black {
  font-family: Jost;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2644rem;
  color: #5D6C7B;
  margin-bottom: .125rem;
}
.footer-wrapper-link {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.0837rem;
  color: #6F73EE;
  text-decoration: none;
}
.footer-wrapper-tel {
  flex-shrink: 0;
}
.footer-title-link {
  margin-top: 0;
  margin-bottom: 1.0625rem;
}
.footer-item {
  font-family: Jost;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2644rem;
  color: #5D6C7B;
  margin-bottom: .625rem;
}
.footer-item-tel {
  font-family: Jost;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.445rem;
  color: #282739;
  margin-bottom: .4375rem;
  word-spacing: -0.125rem;
}
.footer-item-balck {
  color: #282739;
  margin-bottom: .3125rem;
}


.footer-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.4375rem;
  padding-bottom: 1.9375rem;
  border-bottom: .0625rem solid rgb(93, 108, 123, 0.15);
}
.footer-middle-left {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 3.9375rem;
}
.footer-logo-link {
  text-decoration: none;
}
.google-link {
  margin-right: .3125rem;
}

.footer-middle-right {
  display: flex;
  gap: .625rem;
}
.social-card {
  display: flex;
  align-items: center;
  gap: .8125rem;
  background-color: #fff;
  border-radius: .3125rem;
  padding: .375rem 1.25rem .4375rem .75rem;
  
}

.social-info {
  display: flex;
  flex-direction: column;
}
.social-name {
  font-family: Jost;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.2644rem;
  color: #282739;
}
.social-number {
  font-family: Jost;
  font-size: .625rem;
  font-weight: 400;
  line-height: .9031rem;
  text-align: left;
  color: #5D6C7B;
}


.footer-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1.125rem;
}
.requisites {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  color: #5D6C7B;
  text-decoration: none;
}
.politic-link {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  color: #5D6C7B;
  text-decoration: none;

}
.footer-bot-left {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}
.footer-pay {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: .1875rem;
  margin-right: .375rem;
}
.online-chat {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  margin-left: 2.3125rem;
}
.chat-text {
  font-family: Jost;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2644rem;
  text-align: left;
  color: #282739;
}

/* modal */
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  display: flex;
  margin: auto;
  max-width: 49.375rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 3.5625rem;
  background-color: #FAFBFC;
  position: relative;
  

}
.modal-left {
  width: 18.125rem;
}
.modal-close {
  position: absolute;
  top: .875rem;
  right: .875rem;
  
}
.modal-title {
  width: 17.3125rem;
  font-family: Jost;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 2.2581rem;
  color: #282739;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: .5625rem;
}
.chose-model {
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282739;
  
}
.modal-subtitle {
  width: 17.875rem;
  font-family: Jost;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2644rem;
  color: #282739;
  margin: 0;
  margin-top: 1.8125rem;
  margin-bottom: 5.375rem;
}
.question {
  font-family: Jost;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.0837rem;
  color: #5D6C7B;
}
.input-form-modal {
  display: flex;
  flex-direction: column;
  width: 16.4375rem;
}
.input-modal {
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  padding-left: 1.5625rem;  
  border: .0625rem solid #EAEBED;
  border-radius: .3125rem;
  color: #5D6C7B;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.input-modal:focus {
  outline: none;  
}
.modal-button {
  padding: .9375rem 3.4375rem;
  border: .0625rem solid #6F73EE;
  border-radius: .3125rem;
  background-color: #6F73EE;
  color: #FFFFFF; 
  font-family: Jost;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.445rem;
  text-align: center;
  margin-bottom: 1rem;
}
.politics-modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .75rem;
}
.politics-link {
  text-decoration: none;
  color: #6F73EE;
}
.connection-text {
  width: 19.8125rem;
  margin: 0;
}
.modal-image {
  /* height: 31.0625rem; */
  width: 84%;
  margin-left: 4.3125rem;
}
.scooter-photo-mobile {
  display: none;
}

@media (max-width: 1700px) {
  .photo-scooter-bot {
      width: 30rem;
      left: 8%;
    }
  
    .scooter-photo {
      width: 30rem;
      right: 8%;
    }
    

}

@media (max-width: 1400px) {
  html {
    font-size: 13px;
  }
  .photo-scooter-bot {
    width: 31rem;
  }
  .scooter-photo {
    width: 31rem;
  }
}@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .input-group {
    width: 33.5rem;
  }
  .client-photo {
    right: 9rem;
    width: 28%;
  }
  .main-image {
    width: 97%;
  }
  .photo-scooter-bot {
    width: 25rem;
    top: 40px;
  }
  .scooter-bot-info {
    padding-left: 40px;
  }
  .scooter-photo {
    width: 25rem;
    top: 40px;
  }
  .input-email {
    width: 22rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .header-item-link {
    font-size: 13px;
  }
  .header-phone-link {
    font-size: 13px;
  }

  .input-group {
    width: 23rem;
    padding-left: 8px;
  }
  .search-button {
    width: 18%;
  }
  .image-wrapper {
    padding: 6px;
  }
  .scooter-photo {
    display: none;
  }
  .photo-scooter-bot {
    display: none;
  }
  .scooter-photo-mobile {
    display: block;
  }
  .scooter-bot-wrapper {
    justify-content: flex-start;
  }
  .scooter-bot-info {
   padding-left: 0;
  }
  .product-card {
    flex-basis: 49%;
  }
  .product-content {
    flex-wrap: wrap;
  }
  .product-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-name {
    font-size: 19px;
  }
  .product-item {
    font-size: 17px;
  }
  .old-price {
    font-size: 15px;
  }
  .new-price {
    font-size: 20px;
  }
  .icon-cart {
    width: 40px;
  }
  .icon-hert {
    width: 40px;
  }
  .product-button {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 215px;
    font-size: 14px;
  }
  .client-photo {
    display: none;
  }
  .connection-text {
    font-size: 14px;
  }
  .input {
    width: 22rem;
  }
  .input-form {
    width: 21rem;
  }
  .input-area {
    gap: 4rem;
    width: 47rem;
  }
  .connection-button {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
  }
  .connection-subtitle {
    font-size: 14px;
  }
  .input-email {
    width: 100%;
    margin-bottom: 5px;
  }
  .button-subscribe {
    width: 100%;
  }
  .footer-item {
    font-size: 13px;
  }
  .footer-list-1 {
    margin-right: 6rem;
  }
  .footer-list-2 {
    columns: unset;
    width: auto;
    margin-right: 6rem;
  }
  .footer-list-3 {
    columns: unset;
    width: auto;
    margin-right: 6px;
  }
  .footer-wrapper-link {
    font-size: 12px;
  }
  .google-link,
  .app-link {
    width: 48%;
  }

            
}

@media (max-width: 768px) {
  .logo-image {
    width: 100px;
  }
  .button-line {
    display: none;
  }
  .input-group {
    width: 16rem;
  }
  .block-header-input {
    gap: 1rem;
  }
  .icons-group {
    gap: 11px;
  }
  .icon-link-text {
    font-size: 12px;
  }
  .main-info-item {
    max-width: 14rem;
  }
  .main-info {
    gap: 3rem;
  }
  .main-button {
    font-size: 14px;
  }
  .image-wrapper-text {
    font-size: 14px;
  }
  .footer-list-1,
  .footer-list-2 {
    margin-right: 3rem;
  }
  .footer-list-3 {
    margin-right: 20px;
  }
  .footer-logo {
    width: 66px;
    margin-right: 1rem;
  }
  .google-link,
  .app-link {
    width: 38%;
  }
  .social-card {
    gap: 6px;
    padding-right: 0;
    padding-left: 9px;
  }
  .footer-middle-right {
    gap: 0;
  }
  .social-number {
    font-size: 11px;
  }
  .footer-pay .footer-pay-item:nth-child(even) {
    display: none;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu {
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      z-index: 2;
      background-color: #fff;
      padding-top: 5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28.8px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
    
}
@media (max-width: 576px) {
  html {
    /* font-size: 10px; */
  }
}