* {
  box-sizing: border-box;
}
.header-top {
  width: 100%;
  border-bottom: 1px solid #ECF3FF;
  margin-bottom: 30px;
  
}
.container {
  width: 1110px;
  margin: auto;
}
.container-wrapper {
  width: 1380px;
  margin: auto;
  position: relative;
}
.header-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 11px;
  padding-bottom: 11px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-item-link {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
  text-decoration: none;

}
.header-top-icons {
  display: flex;
  align-items: center;
  gap: 8.5px;
  margin-left: 30px;
  margin-right: auto;

}
.icons-link {
  text-decoration: none;
  height: 12px;
  
}
.header-phone-link {
  font-family: Jost;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  color: #282739;
  text-decoration: none;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-button {
  display: flex;
  align-items: center;
  background-color: #6F73EE;
  border: none;
  border-radius: 5px;
  padding: 8px 17px;
  cursor: pointer;  
}
.button-text {
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.12px;
  color: #FFFFFF;
}
.button-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  margin-right: 13px;
}
.line-1,
.line-2 {
  width: 13px;
  border-top: 1px solid #FFFFFF;
  border-radius: 1.3px;
}
.line-3 {
  width: 7px;
  border-top: 1px solid #FFFFFF;
  border-radius: 1.3px;

}
.input-group {
  width: 600px;
  height: 40px;
  overflow: hidden;
  border: 1.5px solid #6F73EE;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;

}
.input-search {
  width: 90%;
  height: 100%;
  border: none;
}
.input-search:focus {
  outline: none;
}
.search-button {
  background-color: #6F73EE;
  border: 1px solid #6F73EE;
  height: 100%;
  width: 7%;
  padding: 0;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  
}
.block-header-input {
  display: flex;
  gap: 35px;
}
.icons-group {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-icon-link-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-link-text {
  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.23px;
  color: #282739;
}

/* Main section */
.main {
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 70px;

}
.main-wrapper {
  padding-top: 56px;
}
.no-webp .main-image {
  background-image: url(/img/bg.png);
}
.main-image {
  background-image: url(/img/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  min-height: 445px;
}
.location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.location-link {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  text-decoration: none;
  color: #FFFFFF;
}
.location-info {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
}
.main-title {
  font-family: Jost;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  width: 632px;
  margin: 0;
  margin-bottom: 7px;
 
}
.main-subtitle {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  margin: 0;
  margin-bottom: 28px;
}
.main-info-image {
  
  
  fill: #FFFFFF;
}
.image-wrapper {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: RGBA(255, 255, 255, 0.2);
  padding: 12px;
  position: relative;
  z-index: 0;
}
.main-info {
  display: flex;
  gap: 35px;
  margin-bottom: 38px;
}
.main-info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 204px;
}
.main-button {
  background-color: #fff;
  padding: 13px 40.5px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  color: #6F73EE;
  cursor: pointer;
}
.main-button:focus {
  outline: none;
}

/* scooter-top */
.scooter-top {
  position: relative;
  margin-bottom: 135px;
  
}
.scooter-top-info {
  max-width: 663px;
  padding-top: 28px;
}
.scooter-photo {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
}
.scooter-top-title {
  font-family: Jost;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  color: #282739;
  margin-top: 0;
  margin-bottom: 33px;
  
}
.test-drive-subtitle {
  font-family: Jost;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.8px;
  color: #282739;
}
.test-drive-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 490px;
  margin-top: 17px;
}
.test-drive-item {
  display: flex;
  align-items: center;
}
.icon-check {
  margin-right: 10px;
}
.test-drive-text {
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  color: #282739;
}

/* scooter-bot */
.scooter-bot {
  position: relative;
  margin-bottom: 127px;
}
.photo-scooter-bot {
  position: absolute;
  object-fit: cover;
  top: 0;
  
}
.scooter-bot-wrapper {
  display: flex;
  justify-content: flex-end;
}
.scooter-bot-info {
  padding-top: 29px;
  padding-left: 25px;
  width: 660px;
}
.training-list {
  width: 600px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* product */
.product {
  margin-bottom: 101px;
}
.top-image {
  position: relative;
  display: block;
}
.product-image {
  width: 100%;
}
.product-title {
  font-family: Jost;
  font-size: 35px;
  font-weight: 600;
  line-height: 47px;
  color: #282739;
  width: 720px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.product-content {
  display: flex;
  justify-content: space-between;
}
.product-card {
  width: 255px;
}
.sale {
  padding: 4px 9px;
  border: 1px solid #EE685F;
  border-radius: 5px;
  background-color: #EE685F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Jost;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  position: absolute;
  top: 11px;
  left: 9px;
}
.product-card {
  text-decoration: none;
  border: 1.5px solid #EAEBED;
  border-radius: 5px;
}

.new {
  padding: 4px 7px;
  border: 1px solid #75D14A;
  border-radius: 5px;
  background-color: #75D14A;
  color: #FFFFFF;
  font-family: Jost;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  position: absolute;
  top: 12px;
  left: 8px;

}

.item-name {
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.01px;
  color: #282739;
}
.product-list {
  list-style: none;
  display: flex;
  /* flex-direction: column;
  columns: 2 auto; */
  padding-left: 0;
  margin-top: 24px;
  gap: 26px;
  margin-bottom: 10px;
}
.product-bot {
  padding-left: 25px;
  padding-right: 22px;
  padding-bottom: 16px;
}
.product-item {
  display: flex;
  align-items: center;
  gap: 11px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #5D6C7B;
  margin-bottom: 15px;
}
.product-price {
  /* padding-left: 25px; */
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.old-price {
  font-family: Jost;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  color: #5D6C7B;
  text-decoration: line-through;
}
.new-price {
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 28.9px;
  color: #282739;
  word-spacing: 3px;
}
.price-block {
  display: flex;
  flex-direction: column;
  margin-right: 26px;
}
.icon-cart {
  border: 1px solid #EAEBED;
  padding: 10px;
  border-radius: 50%;
  margin-right: 4px;
}
.icon-hert {
  border: 1px solid #EAEBED;
  padding: 10px;
  border-radius: 50%;

}
.product-button {
  border: 1px solid #6F73EE;
  border-radius: 5px;
  background-color: #6F73EE;
  padding: 10px 34px;
  width: 100%;
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* connection */
.connection {
  min-height: 445px;
}
.bg-grey {
  background-color: #F4F7FB;
  padding-top: 88px;
  position: relative;
  padding-bottom: 78px;
}
.client-photo {
  position: absolute;
  bottom: 0;
  right: 177px;
  width: 30%;
}
.connection-title {
  font-family: Jost;
  font-size: 35px;
  font-weight: 600;
  line-height: 50.58px;
  color: #282739;
  margin: 0;
  margin-bottom: 33px;
  max-width: 632px;
  text-transform: uppercase;
  word-spacing: -2px;
}
.connection-subtitle {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
  color: #282739;
  margin: 0;
  margin-bottom: 20px;
}
.input-form {
  position: relative;
  display: flex;
  /* flex-grow: 1;
  flex-basis: 50%; */
  width: 284px;
}
.input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  width: 263px;
  position: absolute;
}
.input:focus {
  outline: none;
}
.input-label {
  position: absolute;
  top: 15px;
  left: 25px;
  cursor: text;
}
.connection-button {
  display: flex;
  align-items: center;
  border: 1px solid #6F73EE;
  border-radius: 5px;
  background-color: #6F73EE;
  padding: 15px 25px;
  color: #FFFFFF;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  cursor: pointer;
}
.input-area {
  display: flex;
  height: 50px;
  width: 600px;
  /* gap: 20px; */
}

.politics {
  display: flex;
  gap: 16px;
  width: 384px;
  margin-top: 23px;
}
.connection-text {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #282739;
}
.politics-link {
  color: #282739;
}

/* subscribe */
.subscribe {
  width: 1440px;
  margin: auto;
}
.bg-blue {
  background-color: #6F73EE;
  margin-top: 104px;
  padding-bottom: 5px;
}
.subscribe-wripper {
  display: flex;
  align-items: center;
}
.subscribe-title {
  width: 518px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.01px;
  margin-right: 23px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.subscribe-input-block {
  display: flex;
  gap: 20px;
}
.input-email {
  background-color: RGBA(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 410px;
  color: #FFFFFF;
}
.input-email:focus {
  outline: none;
}
.input-email::placeholder {
  color: #FFFFFF;
}
.button-subscribe {
  padding: 15px 25px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: center;
  color: #6F73EE;
  cursor: pointer;
}


/* footer */
.footer {
  padding-top: 45px;
  background-color: #F4F7FB;
}
.footer-top {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid rgb(93, 108, 123, 0.15);
  padding-bottom: 75px;
}
.footer-title {
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.01px;
  color: #282739;
  margin: 0;
  margin-bottom: 17px;
}
.footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer-list-1 {
  margin-right: 128px;
}
.footer-list-2 {
  columns: 2 auto;
  margin-right: 96px;
  gap: 44px;
  width: 270px;
}
.footer-list-3 {
  columns: 2 auto;
  margin-right: 60px;
  gap: 23px;
  width: 340px;
}
.item-black {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #5D6C7B;
  margin-bottom: 2px;
}
.footer-wrapper-link {
  font-family: Jost;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.34px;
  color: #6F73EE;
  text-decoration: none;
}
.footer-wrapper-tel {
  flex-shrink: 0;
}
.footer-title-link {
  margin-top: 0;
  margin-bottom: 17px;
}
.footer-item {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #5D6C7B;
  margin-bottom: 10px;
}
.footer-item-tel {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
  color: #282739;
  margin-bottom: 7px;
  word-spacing: -2px;
}
.footer-item-balck {
  color: #282739;
  margin-bottom: 5px;
}


.footer-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgb(93, 108, 123, 0.15);
}
.footer-middle-left {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 63px;
}
.footer-logo-link {
  text-decoration: none;
}
.google-link {
  margin-right: 5px;
}

.footer-middle-right {
  display: flex;
  gap: 10px;
}
.social-card {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 20px 7px 12px;
  
}

.social-info {
  display: flex;
  flex-direction: column;
}
.social-name {
  font-family: Jost;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.23px;
  color: #282739;
}
.social-number {
  font-family: Jost;
  font-size: 10px;
  font-weight: 400;
  line-height: 14.45px;
  text-align: left;
  color: #5D6C7B;
}


.footer-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 18px;
}
.requisites {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
  text-decoration: none;
}
.politic-link {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
  text-decoration: none;

}
.footer-bot-left {
  display: flex;
  align-items: center;
  gap: 44px;
}
.footer-pay {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 3px;
  margin-right: 6px;
}
.online-chat {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 37px;
}
.chat-text {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  text-align: left;
  color: #282739;
}

/* modal */
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  display: flex;
  margin: auto;
  max-width: 790px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 57px;
  background-color: #FAFBFC;
  position: relative;
  

}
.modal-left {
  width: 290px;
}
.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  
}
.modal-title {
  width: 277px;
  font-family: Jost;
  font-size: 25px;
  font-weight: 600;
  line-height: 36.13px;
  color: #282739;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.chose-model {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #282739;
  
}
.modal-subtitle {
  width: 286px;
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #282739;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 86px;
}
.question {
  font-family: Jost;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.34px;
  color: #5D6C7B;
}
.input-form-modal {
  display: flex;
  flex-direction: column;
  width: 263px;
}
.input-modal {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;  
  border: 1px solid #EAEBED;
  border-radius: 5px;
  color: #5D6C7B;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-modal:focus {
  outline: none;  
}
.modal-button {
  padding: 15px 55px;
  border: 1px solid #6F73EE;
  border-radius: 5px;
  background-color: #6F73EE;
  color: #FFFFFF; 
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
  text-align: center;
  margin-bottom: 16px;
}
.politics-modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.politics-link {
  text-decoration: none;
  color: #6F73EE;
}
.connection-text {
  width: 317px;
  margin: 0;
}
.modal-image {
  /* height: 497px; */
  width: 84%;
  margin-left: 69px;
}